#login{
    width:100%;
    height:800px;
    background:url("../images/p3.jpg") no-repeat;
    background-size:100%;
    position:fixed;
    z-index:999;
}
#login a{
    position:absolute;
    left:200px;
    top:350px;
    display:block;
    width:500px;
    height:200px;
    text-align:center;
    line-height:200px;
    font-size:100px;
    font-family:'Microsoft Yahei';
    color:#000;
}
#title{
    width:100%;
    height: 400px;
    position: absolute;
    left:0;
    top:0;
    text-align: center;
}

#btn{
    width:40px;
    height:60px;
    position: fixed;
    right:0;
    bottom: 50px;
    display: none;
    font-size:30px;
    text-align:center;
    line-height:60px;
    background:#000;
    color:#fff;
    font-weight:bold;
}
#btn:hover{
    cursor: pointer;
}

#nav2{
    width:100%;
    height:40px;
    display:none;
}
#nav{
    width:100%;
    height:40px;
    background:#999;
    position:relative;
    left:0;
    top:0;
    z-index:99;
    overflow:hidden;
}
#nav h1{
    width:300px;
    height:40px;
    position:relative;
    left:0;
    top:0;
    text-align:center;
    font-size:30px;
}
h1 span {
    position: relative;
    top: 2px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-family: 'Titan One', cursive;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 transparent,
    0 7px 0 transparent,
    0 8px 0 transparent,
    0 9px 0 transparent,
    0 10px 10px rgba(0, 0, 0, .4);
}
h1 span:nth-child(2) { animation-delay: .8s; }
h1 span:nth-child(3) { animation-delay: .18s; }
h1 span:nth-child(4) { animation-delay: .28s; }
h1 span:nth-child(5) { animation-delay: .38s; }
h1 span:nth-child(6) { animation-delay: .48s; }
h1 span:nth-child(7) { animation-delay: .58s; }
h1 span:nth-child(8) { animation-delay: .68s; }
@keyframes bounce {
    100% {
        top: -16px;
        text-shadow: 0 1px 0 #CCC,
        0 2px 0 #CCC,
        0 3px 0 #CCC,
        0 4px 0 #CCC,
        0 5px 0 #CCC,
        0 6px 0 #CCC,
        0 7px 0 #CCC,
        0 8px 0 #CCC,
        0 9px 0 #CCC,
        0 50px 25px rgba(0, 0, 0, .2);
    }
}

#list{
    width:1000px;
    height:40px;
    position:absolute;
    right:0;
    top:0;
}
#list .on{
    background: #cabaaa;
}
#list .on a{
    color: #7a2fff;
}
#list li{
    width:160px;
    height:100%;
    float:left;
}
#list li a{
     display:block;
     width:100%;
     height:100%;
     font-size:20px;
     color:#000;
     font-weight:bold;
     text-align:center;
     line-height:40px;
 }

#show{
    width:100%;
    height:600px;
    overflow:hidden;
    position:relative;
    margin:0 auto;
}
#show ul{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}
#show ul li{
    float:left;
}
#show ul li a{
    display:block;
    width:100%;
    height:700px;

}
#show ul li a img{
    width:100%;
    height:100%;
}
#show a{
    transition:.2s all ease;
}
#show .prev,#show .next{
    position:absolute;
    top:50%;
    z-index:2;
    height:80px;
    line-height:80px;
    background:rgba(0,0,0,0.6);
    color:#fff;
    width:40px;
    text-align:center;
    margin-top:-40px;
    display:none;
}
#show .prev{
    left:0;
    font-size:30px;
    font-weight:bold;
}
#show .next{
    right:0;
    font-size:30px;
    font-weight:bold;
}
#show a:hover{
    background: rgba(123, 35, 153, 0.4);
}
#show ol{
    position:absolute;
    width:120px;
    left:50%;
    margin-left:-60px;
    bottom:10px;
}
#show ol li{
    width:20px;
    height:20px;
    background: #fff;
    float:left;
    margin:2px;
    text-align:center;
    text-indent:-9999px;
    border-radius:50%;
}
#show ol li.active{
    background: #c0fff1;
}


#wall{
    overflow:hidden;
    width:1040px;
    height:500px;
    margin:60px auto;
}
#wall .list1{
    background:url("../images/list2.png") no-repeat;
}
#wall .list2{
    background:url("../images/list3.png") no-repeat;
}
#wall .list3{
    background:url("../images/list4.png") no-repeat;
}
#wall .list4{
    background:url("../images/list6.png") no-repeat;
}
#wall .list5{
    background:url("../images/list7.png") no-repeat;
}
#wall .list6{
    background:url("../images/list8.png") no-repeat;
}
#wall li{
    float:left;
    position:relative;
    width:300px;
    height:200px;
    margin:15px;
     overflow: hidden;
}
#wall li a{
    position:absolute;
    left:-300px;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
}
#wall li a span{
    display:block;
    text-align:center;
    line-height:200px;
    font-size:50px;
    color:#000;
    width:100%;
    height:100%;
}

#img{
    width:100%;
    height:770px;
    margin-top:40px;
    background:#000;
    border-bottom:10px solid #ccc;
}
#img ul{
    width:133px;
    height:200px;
    -webkit-transform-style:preserve-3d;
    -webkit-transform: perspective(800px) rotateY(0deg) rotateX(0deg);
    position:relative;
    left:600px;
    top:300px;
}
#img ul li{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:20px;
    box-shadow:0px 0px 20px #fff;
    overflow:hidden;
    -webkit-transform: rotateY(0deg) translateZ(0px);
}
#img ul li img{
    width:100%;
    height:100%;
}

#eff{
    width:1040px;
    height:500px;
    background:url("../images/story/1.jpg") no-repeat;
    background-size:100%;
    margin:40px auto;
    position:relative;
}
#page{
    width:50%;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    -webkit-transform-origin:left;
    -webkit-transform-style:preserve-3d;
    -webkit-transform:perspective(800px) rotateY(0deg);
    -moz-transform-style:preserve-3d;
    -moz-transform-origin:left;
    -moz-transform:perspective(800px) rotateY(0deg);
    transform-origin:left;
    transform-style:preserve-3d;
    transform:perspective(800px) rotateY(0deg);
    z-index:3;
}
#page div{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
#page .front{
    background:url("../images/story/1.jpg") no-repeat right;
    background-size:1040px 500px;
    -webkit-transform:translateZ(1px);
    -moz-transform:translateZ(1px);
    transform:translateZ(1px);
}
#page .back{
    background:url("../images/story/2.jpg") no-repeat left;
    background-size:1040px 500px;
    -webkit-transform:translateZ(-1px) scale(-1,1);
    -moz-transform:translateZ(-1px) scale(-1,1);
    transform:translateZ(-1px) scale(-1,1);
}
#page2{
    position:absolute;
    right:0;
    top:0;
    width:50%;
    height:100%;
    background:url("../images/story/2.jpg") no-repeat right;
    background-size:1040px 500px;
    z-index:1;
}

#line{
    width:100%;
    height:10px;
    background:#ccc;
}

#throw .text{
    width:100%;
    height:100px;
    background: #feebff;
    margin:30px auto;
}
#text{
    width:100%;
    font-size:60px;
    text-align:center;
    line-height:100px;
    font-weight:bold;
    color:rgba(0,0,0,0);
}
#throw{
    width:1240px;
    height:800px;
    overflow:hidden;
    margin:0 auto;
}
#throw .clock_all{
    width:100%;
    height:320px;
    position:relative;
}
#throw .first,.second,.third{
    width:320px;
    height:320px;
    margin-right:140px;
}
#throw .third{
    margin-right:-140px;
}
#throw .clock{
    width:300px;
    height:300px;
    border-radius:50%;
    border:4px solid #000;
    position:absolute;
    left:0;
    top:0;
}
#throw .clock .hour{
    width:10px;
    height:80px;
    background:#000;
    border-radius:50% 50% 0 0;
    position:absolute;
    left:50%;
    top:70px;
    -webkit-transform-origin:bottom;
}
#throw .clock .min{
    width:8px;
    height:100px;
    background:#000;
    border-radius:50% 50% 0 0;
    position:absolute;
    left:50%;
    top:50px;
    -webkit-transform-origin:bottom;
}
#throw .clock .sec{
    width:6px;
    height:120px;
    background:red;
    border-radius:50% 50% 0 0;
    position:absolute;
    left:50%;
    top:30px;
    -webkit-transform-origin:bottom;
}
#throw .clock .cap{
    width:20px;
    height:20px;
    background:-webkit-radial-gradient(#fff 0,#000 10px);
    border-radius:50%;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-6px;
    margin-top:-10px;
}
#throw .clock span{
    position:absolute;
    left:50%;
    top:0;
    width:4px;
    height:10px;
    background:#000;
    margin-left:-2px;
    -webkit-transform-origin:center 150px;
}
#throw .clock span.big_scale{
    width:6px;
    height:18px;
    margin-left:-3px;
}
#throw .clock span.big_scale i{
    position:absolute;
    left:50%;
    top:20px;
    font-style:normal;
    width:30px;
    margin-left:-15px;
    text-align:center;
}
#picture_clock{
    width:100%;
    height:60px;
    padding:130px 0;
    text-align:center;
    font-size:40px;
    color: #fff;
    background:#888;
}
#picture_clock img{
    display:inline-block;
}
#throw .third{
    text-align:center;
    margin-right:-20px;
}
#count{
    margin-top:30px;
    padding:20px 0;
    width:100%;
    height:280px;
    background:url("../images/sea.jpg") no-repeat;
    background-size:100%;
}
#count p{
    width:100%;
    height:120px;
    font-size:60px;
    text-align:center;
    line-height:120px;
}

#mobile{
    width:1000px;
    height:200px;
    margin:60px auto;
}
#mobile li{
    width:480px;
    height:180px;
    background:#e5ebeb;
    margin:0 8px;
    display:inline-block;
}
#mobile li a{
    display:block;
    width:100%;
    height:100%;
}
#mobile li a img:hover{
    -webkit-transform:scale(1.4,1.4);
}
#mobile li a span{
    display:block;
    width:480px;
    height:30px;
    background:#666;
    font-size:18px;
    color:#fff;
    font-weight:bold;
    text-align:center;
    line-height:30px;
}
#mobile li a img{
    width:130px;
    height:100px;
    border-radius:10px;
    margin:30px auto;
}

#bottom{
    width:100%;
    height:302px;
    margin:0 auto;
}
#contact{
    width:1000px;
    height:200px;
    margin:0 auto;
}
#contact li{
    width:160px;
    height:160px;
    float:left;
    margin-right:50px;
    background:#ccc;
    border-radius:50%;
    border-top:4px solid #777;
    border-bottom:2px solid #c4c4c4;
    border-right:1px solid #a0a0a0;
    border-left:1px solid #a0a0a0;
    font-size:30px;
    text-align:center;
    line-height:160px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
#contact .last{
    margin-right:-50px;
}
#contact .first{
     border:none;
}
#contact li:hover{
    -webkit-transform:rotate(30deg);
}
#contact li img{
    width:100%;
    height:100%;
    border-radius:50%;
}
#bottom p{
    width:100%;
    height:60px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    line-height:120px;
    color:#333;
}




